@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #b5b5b5;
  margin: 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  max-width: 69%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.filter-resources {
  padding: 10px 20px;
}

ul button {
  list-style-type: none;
  display: inline-block;
}

.audience,
.type,
.star {
  height: 65px;
}
.audience h3,
.type h3,
.star h3 {
  display: inline-block;
}
.audience ul,
.type ul,
.star ul {
  display: inline-block;
  padding-left: 20px;
}

.logo_container {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 30px 20px 56px;
}
.logo_container .logo {
  min-height: 226px;
  background-image: url("../img/ProjectCareerLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.type ul {
  margin-left: 40px;
}

.star {
  padding-bottom: 9px;
}
.star ul {
  margin-left: 35px;
}

.audience ul {
  margin-left: 8px;
}

/* ==========================================================================
    Media Queries
   ========================================================================== */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  body:after {
    content: " ";
    display: block;
    clear: both;
  }

  main, header {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  main section.card {
    width: 29.58333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  aside {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  aside .welcome h1 {
    font-size: 1.2em;
  }
  aside .welcome p, aside .welcome a {
    font-size: .8em;
    line-height: 1.5em;
  }

  .logo_container {
    padding: 0 20px;
  }
  .logo_container .logo {
    padding: 0px;
  }

  .audience,
  .type,
  .star {
    height: 50px;
  }
  .audience h3,
  .type h3,
  .star h3 {
    font-size: .85em;
  }
  .audience ul button,
  .type ul button,
  .star ul button {
    font-size: .8em;
    padding: 5px 10px;
  }

  div.filter-resources {
    padding: 10px 10px 12px 10px;
  }
  div.filter-resources h2 {
    font-size: 1.1em;
  }
  div.filter-resources p {
    font-size: .74em;
  }
  div.filter-resources .type ul {
    margin-left: 35px;
  }
  div.filter-resources .star {
    padding-bottom: 3px;
  }
  div.filter-resources .star ul {
    margin-left: 30px;
  }

  main section.card {
    margin: 20px 0 0 0;
  }
  main section.card img {
    width: 100%;
  }
  main section.card .card_inner {
    padding: 10px .9% 0;
  }
  main section.card .card_resource {
    font-size: 1em;
  }
  main section.card .card_title {
    font-size: 0.85em;
  }
  main section.card .card_excerpt {
    font-size: .8em;
  }
  main section.card .card_audience {
    font-size: .75em;
  }
  main section.card .fa, main section.card div.card_tag h3 {
    font-size: .9em;
  }
}
@media (min-width: 1024px) and (max-width: 1224px) {
  body {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  body:after {
    content: " ";
    display: block;
    clear: both;
  }

  main, header {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  aside {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  main section.card {
    width: 29.58333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  .welcome h1 {
    font-size: 1.7em;
  }
  .welcome p, .welcome a {
    font-size: .85em;
    line-height: 1.5em;
  }

  div.filter-resources {
    padding: 10px 20px 5px;
  }
  div.filter-resources p {
    font-size: .8em;
  }
  div.filter-resources h2 {
    font-size: 1.1em;
  }

  .logo_container {
    padding: 0 20px 16px;
  }
  .logo_container .logo {
    min-width: initial;
  }

  .audience,
  .type,
  .star {
    height: 55px;
  }
  .audience h3,
  .type h3,
  .star h3 {
    font-size: .9em;
  }
  .audience ul button,
  .type ul button,
  .star ul button {
    font-size: .8em;
    padding: 8px 12px;
  }

  main section.card {
    margin: 20px 0 0 0;
  }
  main section.card img {
    width: 100%;
  }
  main section.card .card_inner {
    padding: 10px 5% 0;
  }
  main section.card .card_excerpt {
    font-size: .9em;
  }
}
@media (min-width: 1225px) and (max-width: 1599px) {
  body {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  body:after {
    content: " ";
    display: block;
    clear: both;
  }

  main, header {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  aside {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  main section.card {
    width: 29.58333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  .audience,
  .type,
  .star {
    height: 55px;
  }
  .audience h3,
  .type h3,
  .star h3 {
    font-weight: 500;
    font-size: 0.9em;
  }
  .audience ul button,
  .type ul button,
  .star ul button {
    padding: 5px 10px !important;
    font-size: 0.9em;
    letter-spacing: 0.5px;
  }
  .audience ul button:first-child,
  .type ul button:first-child,
  .star ul button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #dcdcdc;
  }
  .audience ul button:last-child,
  .type ul button:last-child,
  .star ul button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #dcdcdc;
  }

  .logo_container {
    padding: 0px 20px 24px;
  }

  .welcome h1 {
    font-size: 1.4em;
  }
  .welcome p, .welcome a {
    font-size: .85em;
    line-height: 1.5em;
  }

  div.filter-resources p {
    font-size: .9em;
  }

  main section.card {
    margin: 20px 0 0 0;
  }
  main section.card img {
    width: 100%;
  }
  main section.card .card_inner {
    padding: 10px 5% 0;
  }
  main section.card .card_excerpt {
    font-size: .9em;
  }
}
@media (min-width: 1600px) and (max-width: 1999px) {
  body {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  body:after {
    content: " ";
    display: block;
    clear: both;
  }

  main, header {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  aside {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  main .card {
    width: 29.58333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  .logo_container {
    padding: 0 20px 56px;
  }
  .logo_container .logo {
    min-width: initial;
  }

  .audience,
  .type,
  .star {
    height: 65px;
  }
  .audience h3,
  .type h3,
  .star h3 {
    font-weight: 500;
    font-size: 1em;
  }
  .audience ul button,
  .type ul button,
  .star ul button {
    padding: 10px 20px;
    margin-left: -5px;
    font-size: 0.9em;
    letter-spacing: 0.5px;
  }

  .filter-resources {
    background: #fff;
  }
  .filter-resources h2 {
    margin: 0;
    font-size: 1.3em;
  }
  .filter-resources p {
    margin: 0 0 10px;
    font-size: 1.1em;
    font-weight: 500;
  }

  .active {
    background: #0267a8 !important;
    color: #fff !important;
  }

  .welcome {
    padding: 2% 9% 10%;
    line-height: 1.75em;
    font-weight: lighter;
  }
  .welcome h1 {
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: .5px;
  }
  .welcome p, .welcome a {
    font-size: .85em;
    line-height: 1.5em;
  }

  main section.card {
    margin: 20px 0 0 0;
  }
  main section.card img {
    width: 100%;
  }
  main section.card .card_inner {
    padding: 10px 10px 0;
  }
  main section.card .card_excerpt {
    font-size: .9em;
  }
}
@media (min-width: 2000px) {
  body {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  body:after {
    content: " ";
    display: block;
    clear: both;
  }

  main, header {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  aside {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  main .card {
    width: 29.58333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }

  .logo_container {
    padding: 0 20px 56px;
  }
  .logo_container .logo {
    min-width: initial;
  }

  .audience,
  .type,
  .star {
    height: 65px;
  }
  .audience h3,
  .type h3,
  .star h3 {
    font-weight: 500;
    font-size: 1em;
  }
  .audience ul button,
  .type ul button,
  .star ul button {
    padding: 10px 20px;
    margin-left: -5px;
    font-size: 0.9em;
    letter-spacing: 0.5px;
  }

  .filter-resources {
    background: #fff;
  }
  .filter-resources h2 {
    margin: 0;
    font-size: 1.3em;
  }
  .filter-resources p {
    margin: 0 0 10px;
    font-size: 1.1em;
    font-weight: 500;
  }

  .active {
    background: #0267a8 !important;
    color: #fff !important;
  }

  .welcome {
    background: #db581f;
    color: #fff;
    padding: 2% 9% 10%;
    line-height: 1.75em;
    font-weight: lighter;
  }
  .welcome h1 {
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: .5px;
  }
  .welcome p, .welcome a {
    font-size: .85em;
    line-height: 1.5em;
  }

  main section.card {
    margin: 20px 0 0 0;
  }
  main section.card img {
    width: 100%;
  }
  main section.card .card_inner {
    padding: 10px 10px 0;
  }
  main section.card .card_excerpt {
    font-size: .9em;
  }
}
html {
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

button:focus {
  outline: 0;
}

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  display: block;
}
span i {
  text-decoration: underline;
}

header, aside {
  margin-top: 50px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.audience ul button,
.type ul button,
.star ul button {
  background: #fff;
  color: #707070;
  margin-left: -6px;
  border-left: 1px solid #dcdcdc;
  cursor: pointer;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
.audience ul button:first-child,
.type ul button:first-child,
.star ul button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #dcdcdc;
}
.audience ul button:last-child,
.type ul button:last-child,
.star ul button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #dcdcdc;
}
.audience ul button:active,
.type ul button:active,
.star ul button:active {
  outline: none;
}

.filter-resources {
  background: #fff;
}
.filter-resources h2 {
  margin: 0;
  font-size: 1.2em;
}
.filter-resources p {
  margin: 0 0 10px;
  font-size: 1em;
  font-weight: 500;
}

.is-checked {
  background: #0267a8 !important;
  color: #fff !important;
}

.welcome {
  background: #db581f;
  color: #fff;
  font-weight: lighter;
  line-height: 1.75em;
  padding: 2% 9% 10%;
}
.welcome h1 {
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: .5px;
}
.welcome a {
  color: #fff;
  line-height: 0;
}

.card {
  margin-right: 0px;
  margin-left: 0px;
  background: #fff;
}
.card .card_resource {
  color: #db581f;
  margin: 0;
  font-weight: 300;
  font-size: 1em;
}
.card .card_title {
  color: #0267a8;
  font-size: 1em;
  margin: 0;
}
.card .card_exceprt {
  font-size: .8em;
}
.card .card_audience {
  font-weight: 800;
  font-size: .8em;
}
.card h3 {
  display: inline-block;
  margin-left: 5px;
}
.card .fa, .card div.card_tag h3 {
  color: #35792a;
  font-size: .95em;
}
