@import "breakpoint";

$susy: (
  columns: 10,
  gutters: 2/10,
  math: fluid,
  output: float,
  gutter-position: split,
);

body {
  @include container(69%);
  padding-left: 20px;
  margin-top: 50px;
  background-image: url("/Users/pmiller/Documents/Code/JBS/project-careers/img/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.resources {
  padding: 10px 20px;
}

main, header {
  @include span(7.5 at 3.5);
}

aside {
  @include span(2.5 at 1);
}

ul li {
  list-style-type: none;
  display: inline-block;
}

.audience,
.type,
.star {
  height: 65px;
  h3{
    display: inline-block;
  }
    ul{
      display: inline-block;
      padding-left: 20px;
    }
}

.logo_container {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 0px 20px 56px;
  .logo{
    min-height: 226px;
    min-width: 162px;
    background-image:url("/Users/pmiller/Documents/Code/JBS/project-careers/img/ProjectCareerLogo.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
  }
}

.type ul {
  margin-left: 40px;
}

.star {
  padding-bottom: 9px;
  ul {
    margin-left: 35px;
  }
}

.audience ul {
  margin-left: 8px;
}

/* ==========================================================================
    Media Queries
   ========================================================================== */

$mobile-portrait: 320px;
$mobile-landscape: 480px;
$ipad: 768px;
$browser-small:1024px 1199px;
$browser-medium:1200px 1599px;
$browser-large:1600px;


@include breakpoint($browser-medium) {
  .audience,
  .type,
  .star {
    height: 55px;

    h3 {
      font-weight: 500;
      font-size: 0.9em;
    }
    ul li {
      padding: 5px 10px !important;
      font-size: 0.9em;
      letter-spacing: 0.5px;
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 1px solid #dcdcdc;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid #dcdcdc;
      }
    }
  }
}

@include breakpoint($browser-large) {
  .audience,
  .type,
  .star {
    height: 65px;
    h3 {
      font-weight: 500;
      font-size: 1em;
    }
    ul li {
      padding: 10px 20px;
      margin-left: -5px;
      font-size: 0.9em;
      letter-spacing: 0.5px;
    }
  }


  .resources {
    background: #fff;
    h2 {
      margin: 0;
      font-size: 1.2em;
    }
    p {
      margin: 0 0 10px;
      font-size: 1em;
      font-weight: 500;
    }
  }

  .active {
    background: #0267a8 !important;
    color: #fff !important;
  }

  .welcome {
    background: #db581f;
    color: #fff;
    padding: 2% 9% 10%;
    line-height: 1.75em;
    font-weight: lighter;
    h1{
      font-size: 1.5em;
      font-weight: lighter;
      letter-spacing: .5px;
    }
  }

}
