$susy: (
  columns: 16,
  gutters: 1/5,
  math: fluid,
  output: float,
  gutter-position: split,
);

body {
  @include container(80%);
  margin-top: 50px;
  background-image: url("/Users/pmiller/Documents/Code/JBS/project-careers/img/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.resources {
  padding: 10px 20px;
}

main, header {
  @include span(12 at 5);
}

aside {
  @include span(4 at 1);
}

ul li {
  list-style-type: none;
  display: inline-block;
}

.audience,
.type,
.star {
  height: 60px;
  h3{
    display: inline-block;
  }
    ul{
      display: inline-block;
      padding-left: 20px;
    }
}

.logo {
}

.type ul {
  margin-left: 40px;
}

.star ul {
  margin-left: 33px;
}
