@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.audience,
.type,
.star {
  h3 {
    font-weight: 500;
    font-size: 1em;
  }
  ul li {
    background: #fff;
    color: #707070;
    padding: 10px 20px;
    margin-left: -5px;
    border-left: 1px solid #dcdcdc;
    cursor: pointer;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    &:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-left: 1px solid #dcdcdc;
    }
    &:last-child{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid #dcdcdc;
    }
  }
}


.resources {
  background: #fff;
  h2 {
    margin: 0;
    font-size: 1.1em;
  }
  p {
    margin: 0 0 10px;
    font-size: .9em;
    font-weight: 500;
  }
}

.active {
  background: #0267a8 !important;
  color: #fff !important;
}

.welcome {
  background: #db581f;
  color: #fff;
  padding: 5px 35px 60px 30px;
  line-height: 1.75em;
  font-weight: lighter;
  h1{
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: .5px;
  }
}
