@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

html{
  background-image: url("../img/background.png");
  // background-repeat:no-repeat; // re-enable once background image issue is figured out
  background-size:cover;
  background-repeat: no-repeat;
}

header, aside {
  margin-top: 50px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.audience,
.type,
.star {
  ul li {
    background: #fff;
    color: #707070;
    margin-left: -5px;
    border-left: 1px solid #dcdcdc;
    cursor: pointer;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    &:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-left: 1px solid #dcdcdc;
    }
    &:last-child{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid #dcdcdc;
    }
  }
}


.resources {
  background: #fff;
  h2 {
    margin: 0;
    font-size: 1.2em;
  }
  p {
    margin: 0 0 10px;
    font-size: 1em;
    font-weight: 500;
  }
}

.active {
  background: #0267a8 !important;
  color: #fff !important;
}

.welcome {
  background: #db581f;
  color: #fff;
  padding: 2% 9% 10%;
  line-height: 1.75em;
  font-weight: lighter;
  h1{
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: .5px;
  }
}

.card {
  margin-right: 0px;
  margin-left: 0px;
  background: #fff;
  .card_resource{
    color: #db581f;
    margin: 0;
    font-weight: 300;
    font-size: 1em;
  }
  .card_title{
    color: #0267a8;
    font-size: 1em;
    margin: 0;
  }
  .card_exceprt {
    font-size: .8em;
  }
  .card_audience {
    font-weight: 800;
    font-size: .8em;
  }
  h3{
    display: inline-block;
  }
  .fa, div.card_tag h3 {
    color: #35792a;
    font-size: .95em;
  }
}
